.box {

    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgb(112, 80, 44);
    bottom: 150px;
    border:  1px dashed black;
    box-shadow: 10px -3px 0px rgb(112, 80, 44);
    border-radius: 10px 10px 0 0 ;
    left: 100vw;
    
 
}

@keyframes box-move {

    from { left: 100vw}
    to { left: -10vw}

}