.container-person {

    position: relative;
    background-color: transparent;
    padding: 10px;
    top: 235px;
    width: 80px;
    height: 210px;
    border-radius: 40px;
}

.jump {

    animation: jump 0.5s ease-in-out;
}


@keyframes jump {

    0% {
        top: 235px;
    }

    50%{
        top: 20px;
    }

    100% {
        top: 235px;
    }

}

.person {
    position: relative;
    left: 7px;
    height: 200px;
    width: 80px;
    border-radius: 40px;
    background-color: transparent;
    display: none;
}

.cap {

    position: absolute;
    left: -3px;
    top: -8px;
    height: 33px;
    width: 56px;
    background-color: rgb(35, 66, 17);
    border-bottom: 3px solid rgb(13, 29, 7);
    /* box-shadow: 0px 4px; */
    border-radius: 25px 25px 2px 2px;

}

.mask {
    position: absolute;
    top: 45px;
    left: 13px;
    width: 23px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 0 0 10px 10px;
    box-shadow: -5px 0 20px #222;
}

.head {

    position: relative;
    box-sizing: border-box;
    top: 2px;
    left: 15%;
    height: 55px;
    width: 55px;
    border-radius: 50px;
    border: 3px solid black;
    background-color: #deb887;
    
}

.body {
    
    position: relative;
    left: 20%;
    bottom: -2px;
    height: 85px;
    width: 40px;
    border-radius: 25px 25px 2px 4px;
    background-color: black;
    z-index: 4;

}


.arm1 {
    position: absolute;
    top: 63px;
    left: 18px;
    height: 80px;
    width: 15px;
    background-image: linear-gradient(black, black, black, rgb(240, 171, 81));
    border-radius: 10px 15px 10px 5px;
    transform: rotate(25deg);
    transform-origin: top left;
    

}

.arm2 {
    position: absolute;
    top: 65px;
    left: 38px;
    height: 80px;
    width: 15px;
    background-image: linear-gradient(black, black, black, rgb(240, 171, 81));
    border-radius: 15px 10px 10px 10px;
    transform: rotate(-25deg);
    transform-origin: top left;
    z-index: 10;

}

.legs {

    display: flex;
    position: relative;
    left: 20%;
    height: 70px;
    width: 40px;
    background-color: transparent;
    justify-content: space-between;
    
}

.leg1{
   
    position: absolute;
    top: -2px;
    width: 18px;
    height:75px;
    background-color: rgb(48, 32, 11);
    transform-origin: top left;
    transform: rotate(10deg);
}
.leg2{
   position: absolute;
   left: 20px;
    width: 18px;
    height: 70px;
    background-color: rgb(46, 31, 11);
    border-left: solid 1px  #444;
    transform-origin: top left;
    transform: rotate(-8deg);
}


.foot1 {

    position: relative;
    top: 63px;
    left: -3px;
    height: 15px;
    width: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px 10px 0px 0px;
}
.foot2 {
    
    position: relative;
    top: 63px;
    left: -3px;
    height: 15px;
    width: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px 10px 0px 0px;

}